# dependencies
**/node_modules/
package-lock.json
**/dist/
**/build/

# environment variables
**/.env
**/.env.local

# uploads
server/uploads/

# logs
**/logs
**/*.log
**/npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/